@media screen and (min-width: 480px) {
  /**********************************
   Two Column Layout
   ***********************************/
#primary {
	width: 50%;
	float:left;
}
  
  #secondary {
	width: 40%;
	float: right;
  }
  
}

 /**********************************
   Page Portfolio
   ***********************************/
#gallery li {
	width: 28.3333%;
}
   
   #gallery li:nth-child(4n) {
	 clear: left;
   }
   
   **********************************
   Page About
   ***********************************/
.arthas  {
	float: left;
	margin: 0 5% 80px 0;
}
   
   
@media screen and (min-width: 660px) {
 
  }  
}
